@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
    @apply bg-stone-950;
    @apply text-amber-50;
  }
}
:root {
  /* fallback for the useVHOverride hook */
  --vh: 1vh; 
}

.fillFont {
  font-size: 100%;
  resize: both;
}